.container {
  max-width: 1475px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.header_back {
  position: relative;
  background-color: #0020f4;
  height: 388px;
}
.nav-ul {
  display: flex;
  flex-wrap: wrap;
}
#contact-button {
  font-weight: bolder;
  background-color: #fff;
  color: black;
  width: 160px;
  border-radius: 28px;
  padding: 18px 43px 18px 36px;
}

.nav-ul li a {
  margin-left: 50px;
  color: #fff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-wrapper {
  margin-top: 133px;
}
.main-img {
  display: flex;
  margin: 0 auto;
}
.article-wrapper h2 {
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 28px;
  font-weight: bolder;
}
.article-imgs {
  display: flex;
  flex-wrap: wrap;
}
.article-imgs img {
  margin-right: 25px;
}
.article-wrapper {
  margin-left: 140px;
}
.txt {
  margin-left: 110px;
  width: 950px;
}
.txt p {
  font-size: 16px;
  margin-top: 18px;
  line-height: 1.6;
}
.txt :last-child {
  margin-bottom: 58px;
}
.more {
  background-color: #0020f4;
  border-radius: 28px;
  display: flex;
  margin: 0 auto;
  padding: 18px 77px 18px 57px;
  color: #fff;
  border: none;
  font-weight: bold;
}
footer {
  background-color: #0020f4;
  height: 1140px;
  position: relative;
  left: 0;
  top: 1600px;
}
.map {
  margin-top: 60px;
  width: 463px;
  height: 197px;
  border-radius: 15px;
}
.dots {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
}
.dots-wrapper {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}
.mail {
  vertical-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
}
.phone {
  vertical-align: center;
  display: flex;
  flex-wrap: wrap;
}
.dots img {
  transform: translate(75%, 75%);
}
svg {
  transform: translate(75%, 75%);
}
.contact-txt {
  width: 463px;
  margin-top: 30px;
  color: #fff;
}
.h2 {
  margin-top: 275px;
  color: #fff;
  font-size: 32px;
}
.mail p {
  font-size: 22px;
  color: #fff;
  margin-left: 20px;
  transform: translate(0, 40%);
}
.phone p {
  font-size: 22px;
  color: #fff;
  margin-left: 20px;
  transform: translate(0, 40%);
}
.contact-wrapper {
  display: flex;
  justify-content: space-between;
}
.input-fields {
  color: #fff;
  display: flex;
  flex-direction: column;
  /* padding-bottom: 40px; */
  margin-bottom: 80px;
  border: none;
  border-bottom: 1px solid skyblue;
}
input {
  border: none;
  background-color: transparent;
  height: 40px;
}
#message {
  height: 140px;
  width: 463px;
  resize: none;
  border: none;
  background-color: transparent;
}
.send {
  width: 151px;
  height: 55px;
  padding: 18px 45px 18px 36px;
  border-radius: 28px;
  border: none;
}
.send-wrapper {
  display: flex;
  justify-content: flex-end;
}
hr {
  border: 1px solid skyblue;
  opacity: 0.2;
}
.bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.creators {
  display: flex;
}
.creators p {
  font-size: 13px;
  color: white;
  margin-right: 30px;
}
.rights span {
  font-size: 16px;
  color: #fff;
}
.nav-logo {
  display: none;
}
@media (max-width: 1024px) {
  .navigation {
    display: none;
  }
  .logo {
    margin: 0 auto;
  }
  .txt {
    width: auto;
    margin: 0 20px;
  }
  .main-img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .article-wrapper {
    margin-left: unset;
    width: 90%;
    margin-left: 5%;
  }
  .article-imgs :last-child {
    display: none;
  }
  .article-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .article-imgs img {
    margin-bottom: 10px;
  }
  .contact-wrapper {
    flex-direction: column-reverse;
  }
  footer {
    margin-top: 60px;
    height: 1550px;
  }
  .footer-wrapper {
    width: 90%;
    margin-left: 5%;
  }
  .h2 {
    margin-bottom: 40px;
    margin-top: unset;
  }
  .send {
    width: 100%;
    font-weight: bolder;
  }
  .contact-txt {
    display: none;
  }
  .map {
    width: 100%;
  }
  .dots-wrapper {
    justify-content: space-between;
  }
  hr {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .bottom {
    flex-direction: column-reverse;
  }
  .creators {
    margin: 0 auto;
  }
  .rights {
    margin: 35px auto;
    opacity: 60%;
  }
  .nav-logo {
    display: inline;
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
}
