.container {
  max-width: 1475px;
  width: 100%;
  margin: 0 auto;
}
.header_back {
  background-color: #0020f4;
  height: 388px;
}
.nav-ul {
  display: flex;
  flex-wrap: wrap;
}
.nav-ul li a {
  margin-left: 50px;
  color: #fff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
.img-wrapper {
  margin-top: 133px;
}
.main-img {
  display: flex;
  margin: 0 auto;
}
.article-wrapper h2 {
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 28px;
  font-weight: bolder;
}
.article-imgs {
  display: flex;
  flex-wrap: wrap;
}
.article-imgs img {
  margin-right: 25px;
}
.article-wrapper {
  margin-left: 140px;
}
.txt {
  margin-left: 110px;
  width: 950px;
}
.txt p {
  font-size: 16px;
  margin-top: 18px;
  line-height: 1.6;
}
.more {
  background-color: #0020f4;
  border-radius: 28px;
  display: flex;
  margin: 0 auto;
  padding: 18px 77px 18px 57px;
  color: #fff;
  border: none;
  font-weight: bold;
}
